/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#top-jumbo{
  background-image: url("../assets/COVIDTravelBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#jumbo-text{
  text-shadow: 1px 1px black;
}
#jumbo-title{
  text-shadow: 1px 1px black;
}

.usCovidInfo{
  margin-bottom: 10%;
}

.active {
  display: block;
}

.inactive {
  display:none;
}

.card-title{
 font-size: 2rem;
}
.card-image{
  height:20vh;
  width: 20vw;
}

