/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#top-jumbo{
  background-image: url("../assets/COVIDTravelBanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  
  
}
#jumbo-text{
  text-shadow: 1px 1px rgb(17, 17, 17);
  justify-content: left;
}
#jumbo-title{
  text-shadow: 1px 1px black;
  margin-right: 38%;
}

.usCovidInfo{
  margin-bottom: 10%;
}

.active {
  display: block;
}

.inactive {
  display:none;
}

.card-title{
 font-size: 2rem;
 margin-left:auto;
 margin-right: auto;
 font-weight: 800;
 
 
}
.card-image{
  height:20vh;
  width: 20vw;
}

.card-content{
  background-color:rgb(214, 214, 226);
}

.btn-large{
  margin-right:45%;
  border-radius:5%;
  padding:1%;
  padding-top:1px;
  padding-bottom:1px;
}

#usMap{
  width:50em;
  /* background: rgb(241, 241, 245); */
  margin-left: auto;
  margin-right: auto;
}

#stateInfo{
  background-color:rgb(234, 234, 243);
  border-right: solid white 15px;
  
}

#natPark{
  background-color:rgb(237, 248, 239);
}

#parkList{
  padding-top:1%;
}

#test1, #test2, #test3{
  font-size:18px;
  border: black solid 1px;
  padding: 1px;
  border-radius: 5%;
  background-color: rgb(209, 248, 164);
  color: rgb(16, 16, 100);
}

